@import url("../../styles.css");
.basic-btn {
  border: none;
  border-radius: 5px;
  color: var(--font);
  font-size: 1.1rem;
  margin: 1rem;
  padding: 0.4rem 2rem;
  cursor: pointer;
}

.link-btn {
  background-color: transparent;
  border: none;
  padding: 0.5rem 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  font-size: 1.09rem;
  color: var(--primary-dark);
}

.link-btn:hover{
  background-color: var(--primary-light);
}

.icon-btn {
  border: none;
  border-radius: 50px;
  color: var(--font);
  font-size: 1.1rem;
  margin: 1rem;
  padding: 0.4rem 2rem;
  cursor: pointer;
}

.btn-icon {
  color: var(--font);
}

.primary {
  background-color: var(--blue-250);
  color: var(--font);
}

.warning {
  background-color: var(--red-250);
}

.success {
  background-color: var(--green-250);
}

.attention {
  background-color: var(--yellow-250);
}

.fa-arrow-left,
.fa-check-circle,
.fa-bell {
  margin-right: 0.5rem;
}

.fa-exclamation-circle {
  margin-left: 0.5rem;
}

.box-sh {
  box-shadow: 0 3px 1px -2px #0003, 0 2px 2px #00000024, 0 1px 5px #0000001f;
}

.smooth-btn {
  border: none;
  border-radius: 5px;
  font-size: 0.8rem;
  font-weight: var(--fw-600);
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 1rem;
  padding: 0.6rem 2rem;
  cursor: pointer;
}

.sm-prm {
  background-color: var(--blue-20);
  color: var(--blue-250);
}

.sm-prm:hover {
  background-color: var(--blue-250);
  color: var(--blue-20);
  transition: ease-in 0.3s;
}

.sm-wrn {
  background-color: var(--red-20);
  color: var(--red-250);
}

.sm-wrn:hover {
  background-color: var(--red-250);
  color: var(--red-20);
  transition: ease-in 0.3s;
}

.sm-scs {
  background-color: var(--green-20);
  color: var(--green-250);
}

.sm-scs:hover {
  background-color: var(--green-250);
  color: var(--green-20);
  transition: ease-in 0.3s;
}

.sm-attn {
  background-color: var(--yellow-20);
  color: var(--yellow-250);
}

.sm-attn:hover {
  background-color: var(--yellow-250);
  color: var(--red-20);
  transition: ease-in 0.3s;
}

.fl-btn {
  border: none;
  padding: 0.8rem 1rem;
  cursor: pointer;
}

.circle {
  border-radius: 50px;
}

.rounded {
  border-radius: 5px;
}

.ghost-btn {
  border-radius: 5px;
  font-size: 0.8rem;
  font-weight: var(--fw-600);
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 1rem;
  padding: 0.6rem 2rem;
  cursor: pointer;
}

.ghost-prm {
  background-color: transparent;
  border: 0.5px solid var(--blue-250);
  color: var(--blue-250);
}

.ghost-scs {
  background-color: transparent;
  border: 0.5px solid var(--green-250);
  color: var(--green-250);
}

.ghost-wrn {
  background-color: transparent;
  border: 0.5px solid var(--red-250);
  color: var(--red-250);
}

.ghost-attn {
  background-color: transparent;
  border: 0.5px solid var(--yellow-250);
  color: var(--yellow-250);
}

.raised-btn {
  border: none;
  font-size: 0.8rem;
  font-weight: var(--fw-600);
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 1rem;
  padding: 0.6rem 2rem;
  cursor: pointer;
}

.rs-prm {
  color: var(--blue-250);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  background-color: transparent;
}

.rs-scs {
  color: var(--green-250);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  background-color: transparent;
}

.rs-attn {
  color: var(--yellow-250);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  background-color: transparent;
}

.rs-wrn {
  color: var(--red-250);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  background-color: transparent;
}

.fa-fl {
  color: var(--blue-250);
}
