<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="slider.css">
    <title>Slider | Azure UI</title>
</head>
<body>
     <!--COMMON HTML-->
     <header class="header">
        <h1 class="img-header">
          <a href="../../index.html" class="logo"
            ><img src="/svg/logo.svg" alt="Logo" class="img-logo"
          /></a>
        </h1>
  
        <div class="header-nav">
          <nav>
            <ul>
              <li class="docs"><a class="link" href="alert.html">Docs</a></li>
            </ul>
          </nav>
        </div>
      </header>
      <!---->

      <main>
        <div class="doc-content">
          <h1 class="doc">Slider</h1>
          <p class="doc-intro">
           Slider allows an user to select a value in a range
          </p>
        </div>
        <div class="body">
        <div class="doc-section">
          <h1 class="section-heading">Usage</h1>
          <div>
            <div class="slider-output">Value: </div>

           1 <input type="range" min="1" max="100" value="50" class="slider"> 100
          </div>

          <iframe
          
  src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=night-owl&wt=none&l=htmlmixed&width=650.25&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%253E%250A%2520%2520%253Cdiv%2520class%253D%2522slider-output%2522%253EValue%253A%2520%253C%252Fdiv%253E%250A%2520%2520%25201%2520%253Cinput%2520type%253D%2522range%2522%2520min%253D%25221%2522%2520max%253D%2522100%2522%2520value%253D%252250%2522%2520class%253D%2522slider%2522%253E%2520%2509%2509100%250A%253C%252Fdiv%253E"
  style="width: 650px; height: 167px; border:0; transform: scale(1); overflow:hidden; margin-top: 1rem;"
  sandbox="allow-scripts allow-same-origin">
</iframe>
        </div>


        <aside class="doc-section">
          <ul>
            <a href="../alert/alert.html"><li class="links">Alert</li></a>
            <a href="../avatar/avatar.html"><li class="links">Avatar</li></a>
            <a href="../badge/badge.html"><li class="links">Badge</li></a>
            <a href="../button/button.html"><li class="links">Button</li></a>
            <a href="../card/card.html"><li class="links">Card</li></a>
            <a href="../grid/grid.html"><li class="links">Grid</li></a>
            <a href="../image/image.html"><li class="links">Image</li></a>
            <a href="../input/input.html"><li class="links">Input</li></a>
            <a href="../list/list.html"><li class="links">List</li></a>
            <a href="../nav/doc-nav.html"><li class="links">Navigation</li></a>
            <a href="../rating/rating.html"><li class="links">Rating</li></a>
            <a href="../slider/slider.html"><li class="links active">Slider</li></a>
            <a href="../modal/modal.html"><li class="links">Modal</li></a>
            <a href="../toast/toast.html"><li class="links">Toast</li></a>
            <a href="../text/text.html"><li class="links">Typography</li></a>
          </ul>
        </aside>
      </main>
      <script src="slider.js"></script>
</body>
</html>