@import url("../styles.css");
.card {
  display: flex;
  padding: 0rem 4rem;
  list-style: none;
  border-bottom: 1px solid var(--gray-100);
  width: 20%;
  padding: 1rem 0rem 1rem 0rem;
}

.details {
  margin: 1.4rem 0rem 0rem 2rem;
}

.img {
  height: 5rem;
  width: 5rem;
  border-radius: 50px;
}

.name {
  font-size: 1rem;
  font-weight: var(--fw-600);
  color: var(--gray-200);
}

.email {
  font-size: 1rem;
  color: var(--gray-50);
}

.spaced-list{
    padding-left: 2rem;
    list-style:square;
    font-size: 1.2rem;
    color: var(--primary-dark);
}
.spaced-list .list {
  padding-left: 2rem;
}
