<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lists | Azure UI</title>
    <link rel="stylesheet" href="list.css" />
  </head>
  <body>
    
    <!--STACKED LISTS-->
    <div class="list-container">
      <ul class="spaced-list">
        <li class="list">
        Apple 
        </li>
        <li class="list">Mango</li>
        <li class="list">Orange</li>
      </ul>
      <ul>
        <li class="card">
          <img
            class="img"
            src="https://images.unsplash.com/photo-1584308972272-9e4e7685e80f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80"
            alt=""
          />
          <div class="details">
            <p class="name">Kristen Ramos</p>
            <p class="email">kristen@example.com</p>
          </div>
        </li>
        <li class="card">
          <img
            class="img"
            src="https://images.unsplash.com/photo-1584308972272-9e4e7685e80f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80"
            alt=""
          />
          <div class="details">
            <p class="name">Kristen Ramos</p>
            <p class="email">kristen@example.com</p>
          </div>
        </li>
        <li class="card">
          <img
            class="img"
            src="https://images.unsplash.com/photo-1584308972272-9e4e7685e80f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80"
            alt=""
          />
          <div class="details">
            <p class="name">Kristen Ramos</p>
            <p class="email">kristen@example.com</p>
          </div>
        </li>
      </ul>
    </div>
  </body>
</html>
