@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
:root {
  --primary: #165185;
  --font: #f0f8ff;
  --card-bg: #ffffff;
  --card-price: #a52a2a;
  --discount: #006400;
}
* {
  font-family: "Lato", sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 1rem;
}

.img-container {
  background-color: var(--card-bg);
  border-radius: 5px;
  width: 50%;
  height: auto;
  padding: 1rem;
  box-shadow: 4px 4px 15px rgba(26, 35, 126, 0.2);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
}

.card-img {
  height: inherit;
  width: 100%;
  object-fit: fill;
  border-radius: 5px;
}

.card {
  display: flex;
  justify-content: space-around;
}

.badge::before {
  position: absolute;
  content: "";
  background: #0f3d64;
  height: 28px;
  width: 28px;
  top: 2.8rem;
  right: -0.5rem;
  transform: rotate(45deg);
  z-index: -1;
}

.badge::after {
  position: absolute;
  content: "New Arrival";
  text-transform: uppercase;
  font-size: 0.89rem;
  letter-spacing: 2px;
  font-weight: 500;
  top: 1.6rem;
  right: -0.95rem;
  padding: 0.5rem 1rem;
  width: 10rem;
  background: var(--primary);
  color: white;
  text-align: center;
  font-family: "Roboto", sans-serif;
  box-shadow: 4px 4px 15px rgba(26, 35, 126, 0.2);
  z-index: 0;
}

.price {
  color: var(--card-price);
  font-weight: 600;
  font-size: 1.2rem;
}

del {
  font-weight: 400;
  color: gray;
}
.discount {
  color: var(--discount);
  font-weight: 800;
  font-size: 1rem;
}

.btn {
  border: none;
  width: 100%;
  border-radius: 5px;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 0.4rem 2rem;
  cursor: pointer;
  text-transform: capitalize;
}

.wishlist {
  border: 2px solid var(--primary);
  background-color: #ffffff;
  color: var(--primary);
  margin: 0.5rem 0rem;
}

.buy {
  background-color: var(--primary);
  color: var(--font);
}
.close-btn {
  margin-left: auto;
  border: none;
  border-radius: 50px;
  font-size: 1.2rem;
  cursor: pointer;
  margin-bottom: 0.3rem;
  padding: 0.1rem 0.5rem;
}

.hidden {
  display: none;
}

.overlay {
  position: absolute;
  transform: translate(0px, 332px);
  color: var(--font);
  padding-left: 0.3rem;
  background-color: rgba(128, 128, 128, 0.582);
  width: 87.5%;
  border-radius: 0px 0px 5px 5px;
}

.card-data {
  margin-right: auto;
  flex-shrink: 50%;
}
.hrz {
  display: flex;
  flex-direction: row;
  width: 70%;
}

.img-hrz {
  width: 30%;
  height: auto;
  margin-right: 1rem;
}

.btn-container {
  width: 50%;
}
