<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ratings | Azure UI</title>
    <link rel="stylesheet" href="rating.css" />
  </head>
  <body>
    <header class="header">
      <h1 class="img-header">
        <img src="/svg/logo.svg" alt="Logo" class="img-logo" />
        <a href="../../index.html" class="logo">Azure UI</a>
      </h1>

      <div class="header-nav">
        <nav>
          <ul>
            <li class="docs">
              <a class="link" href="../avatar/avatar.html">Docs</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    Rating
    <div class="rating">
      <i class="far fa-star"></i>
      <i class="far fa-star"></i>
      <i class="far fa-star"></i>
      <i class="far fa-star"></i>
      <i class="far fa-star"></i>
    </div>

    <div class="rating">
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="far fa-star"></i>
      <i class="far fa-star"></i>
    </div>

    Compact Rating

    <div class="rating-compact">
        4.5/5 <i class="fas fa-star"></i>
       
    </div>
  </body>
</html>
