@import url("../styles.css");

* {
  font-size: 1.1rem;
  scroll-behavior: smooth;
}
.header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 2rem;
  height: 8vh;
  background-color: aliceblue;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  border-bottom: 1px solid var(--primary-dark);
}

.logo {
  font-size: 1rem;
  font-weight: bold;
}

.header-nav {
  margin-left: auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.header-nav .docs {
  display: inline-block;
}

.header-nav .link {
  padding: 0.5rem;
}

a {
  text-decoration: none;
  color: var(--primary-dark);
}

.hero-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: aliceblue;
  height: auto;
}

.hero-content {
  padding: 25vh 2rem;
}

.azure {
  margin-bottom: 1rem;
}

.intro {
  font-size: 0.92rem;
  font-weight: 400;
}

.start-btn {
  background-color: var(--primary-dark);
  color: var(--font);
  border: none;
  padding: 0.8rem 1.2rem;
}

.btn {
  border-radius: 50px;
  margin-top: 1rem;
  font-size: 1rem;
  cursor: pointer;
}

.install-btn {
  padding: 0.6rem 1.2rem;
  border: 2px solid var(--primary-dark);
  color: var(--primary-dark);
  background-color: var(--font);
  margin-right: 0.5rem;
}

.start-btn:hover {
  background-color: var(--secondary);
  color: var(--primary-dark);
  transition: ease-in 0.2s;
}

.fa-arrow-right {
  margin-left: 0.3rem;
}

.hero-img {
  padding-top: 1rem;
  margin-left: auto;
  height: 40%;
  width: 90%;
}

.section {
  padding: 2rem;
  background-color: var(--primary-light);
}
.install-hd {
  padding-bottom: 1rem;
}
.install {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.install-card {
  border: 2px solid rgba(37, 57, 81, 0.2);
  width: 90%;
  height: 80%;
  padding: 1rem;
  background-color: var(--font);
  transition: background-color 0.2s, border 0.2s;
}

.css-body {
  margin: 1rem 0rem;
  font-size: 0.95rem;
}

.install-card:hover {
  border: 2px solid var(--primary-dark);
}

@media screen and (max-width: 640px) {
  .hero-container,
  .install {
    display: block;
  }

  .hero-img {
    margin-left: 0;
  }
  .hero-content {
    padding: 10vh 2rem;
  }
}

@media screen and (max-width: 1050px) {
  .hero-content {
    padding: 8vh 2rem;
  }

  .hero-img {
    margin-bottom: 0.5rem;
  }
}
