<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Text Utilities</title>
    <link rel="stylesheet" href="text.css" />
  </head>
  <body>
    <!--HEADINGS-->
    <h1 class="type-1">Heading 1</h1>
    <h2 class="type-2 center">Heading 2</h2>
    <h3 class="type-3 gray">Heading 3</h3>
    <h4 class="type-4">Heading 4</h4>
    <h5 class="type-5">Heading 5</h5>

    <!--TYPOGRAPHY-->
    <p class="type-1">Lorem Ipsum</p>
    <p class="type-2">Lorem Ipsum</p>
    <p class="type-3">Lorem Ipsum</p>
    <p class="type-4 gray">Lorem Ipsum</p>
    <p class="type-5 center">Lorem Ipsum</p>
  </body>
</html>
