@import url("../styles.css");

*{
  color: var(--primary-dark);
}
.h1 {
  
  font-size: 2.75rem;
  line-height: 4rem;
}

.h2 {
  
  font-size: 2rem;
  line-height: 2.5rem;
}

.h3{
  
  font-size: 1.5rem;
  line-height: 2rem;
}

.h4{
  
  font-size: 1rem;
  line-height: 1.5rem;
}

.h5{
  
  font-size: 0.5rem;
  line-height: 1rem;
}

.gray{
  color: var(--gray-100);
}

.center{
  text-align: center;
}