<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dark Navbar</title>
    <link rel="stylesheet" href="nav-1.css">
  </head>
  <body>
    <header class="header-3pt">
        <div class="header-logo-3pt">
          <a href="#" class="header-href-3pt">
            <img src="../../svg/logo.svg" alt="" class="header-img-3pt" />
          </a>
        </div>
  
        <div class="header-nav-3pt">
          <nav>
            <ul class="header-menu-3pt">
              <li class="menu-item-3pt"><a href="">Home</a></li>
              <li class="menu-item-3pt">
                <a href="">Products</a>
              </li>
              <li class="menu-item-3pt">
                <a href="">Sale</a>
              </li>
            </ul>
          </nav>
        </div>
  
        <i class="fas fa-bars hamburger-3pt"></i>
        <div class="header-icons-3pt">
          <a href="" >
            <i class="fas fa-search icon-link-3pt"></i>
          </a>
          <i class="fas fa-user icon-link-3pt"></i>
          <a href="">
            <i class="far fa-bookmark icon-link-3pt"></i>
          </a>
          <a href="">
            <i class="fas fa-shopping-cart icon-link-3pt"></i>
          </a>
        </div>
      </header>
  </body>
</html>
