<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Navigation | Azure UI</title>
    <link rel="stylesheet" href="nav.css" />
  </head>
  <body>
    <header class="header" style="padding: 0 2rem">
      <div class="header-logo">
        <a href="index.html" class="header-href">
          <img src="../../svg/logo.svg" alt="" class="header-img" />
        </a>
      </div>

      <div class="header-nav">
        <nav>
          <ul class="header-menu">
            <li class="menu-item"><a href="">Products</a></li>
          </ul>
        </nav>
      </div>

      <i class="fas fa-bars hamburger"></i>
    </header>
  </body>
</html>
