<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submenu | Azure UI</title>
    
    <link rel="stylesheet" href="submenu.css">
    <link rel="stylesheet" href="nav.css">

</head>
<body>
    <header class="header">
        <div class="header-logo">
          <a href="index.html" class="header-href">
            <img src="../../svg/logo.svg" alt="" class="header-img" />
          </a>
        </div>
  
        <div class="header-nav">
          <nav>
            <ul class="header-menu">
              <li class="menu-item product-menu-item"><a href="">Products</a>
              <div class="submenu-nav">
                <ul class="sub-menu">
                    <li class="submenu-item">New Release</li>
                    <hr/>
                    <li class="submenu-item">Trending</li>
                    <hr/>
                    <li class="submenu-item">Sale</li>
    
                </ul>
            </div>
        </li>
            </ul>
          </nav>
        </div>

       
  
        <i class="fas fa-bars hamburger"></i>
      </header>
</body>
</html>